*{
	transition: .7s;
}
body{
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Raleway', Arial, Helvetica;
	color: darkslategrey;
}

main{
	display: flex;
	justify-content: space-around;
	flex-direction: column;
	align-items: center;
	width:400px;
	min-height: 100vh;
	max-height: auto;
	box-shadow: -4px  2px 2px 4px lightslategrey;
	padding: 1.5em .5em;
	background-image: linear-gradient( darkkhaki,50%, darkcyan);
}

main h1{
	font-size: 1.7em;
	padding: 0.5em 1em;
	background-color: darkkhaki;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: darkslategrey;
}
.shape-wrapper h2{
	text-transform: uppercase;
}

#output{
	background-color: darkslategrey;
	width: 80%;
	min-height: 5vh;
	max-height: auto;
	border: unset;
	padding:1em  0.4em;
	font-size: 1.5em;
	font-weight: lighter;
	text-align: center;
	color: whitesmoke;
}

main hr{
	width: 100%;
	height: 1px;
	background-color: khaki;
	margin-top: 2em;
		
}

div.shape-wrapper{
	text-align: center;
}

main div.shape-wrapper select#choice option{
	font-size: 1.0em;
	padding-top: 1em;
	border-bottom: 1px solid grey;
	cursor: pointer;
	color: darkslategrey;
}

main div.shape-wrapper select option:hover{
	cursor: pointer;
	background-color: teal;
}
.answer{
	color: crimson;
	font-weight: bold;
	font-size: 1.5em;
}


.shapeDetail{
	display:none;
	margin: 1em;
}


div.shapeDetail label,input {
	margin: 0.4em;
	text-align: center;
	padding: 1em;
	font-size: 1.1em;
	font-weight: bold;
	cursor: pointer;
	color: darkslategrey;
}

div.shape-wrapper div.dataField{
	display: block;
	margin: 1em;
	cursor: pointer;
	color: darkslategrey;
	
}

div.shape-wrapper div input{
	padding: 0.5em;
	color: darkslategrey;

}

#calculate{
	padding: 0.4em 0.8em;
	font-size: 1.5em;
	background-color: crimson;
	font-size: 500;
	border: unset;
	cursor: pointer;
	color: darkslategrey;
	margin-top: 2em;
}

div.shape-wrapper select{
	padding: 0.5em 0.8em;
	font-size: 1.2em;
	background-color: khaki;
}

div.shape-wrapper h4{
	font-size: 1.5em;
}
